<html>
    <body>
        
        <h3><u>CERTIFICATIONS</u></h3>
        <br>
        <br>
        <div id="container">
            <div class="pritams-heading">
                @for (item of courses; track item) {
                <h3 class="head" (click)="toogle(item)">{{ item.title }}</h3>
                }
            </div>
            <div class="pritams" [innerHTML]="selected.content">
            </div>
            <br>
            <br>
            <br>
        </div>
    </body>
</html>